h3,
h4,
h5 {
    color: #004473;
}

a {
    color: #004473;
}

a:hover {
    color: #183d89;
}

a:active {
    color: #10295d;
}

.alternative-font {
    color: #004473;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    background-color: #004473;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #142773;
    background-image: -moz-linear-gradient(top, #004473, #151473);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004473), to(#151473));
    background-image: -webkit-linear-gradient(top, #004473, #151473);
    background-image: -o-linear-gradient(top, #004473, #151473);
    background-image: linear-gradient(to bottom, #004473, #151473);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004473', endColorstr='#ff151473', GradientType=0);
    border-color: #151473 #151473 #090932;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    color: #ffffff;
    background-color: #151473;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #0d0c48 \9;
}

body.boxed div.body {
    border-top-color: #004473;
}

section.highlight {
    background-color: #004473;
    border-color: #10295d;
}

section.page-top h2 {
    border-bottom-color: #004473;
}

section.toggle label {
    color: #004473;
    border-left-color: #004473;
}

section.toggle input[type="checkbox"]:checked ~ label {
    background-color: #83a4e9;
    border-color: #004473;
}

section.page-top.custom-product {
    background-color: #10295d;
    border-top-color: #004473;
}

div.feature-box div.feature-box-icon {
    background-color: #004473;
}

ul.timeline li div.featured-box div.box-content {
    border-top-color: #004473;
}

a.thumb-info span.thumb-info-type {
    background-color: #004473;
}

a.thumb-info span.thumb-info-action-icon {
    background-color: #004473;
}

.thumbnail span.zoom {
    background-color: #004473;
}

div.thumb-info-social-icons a {
    background-color: #004473;
}

.inverted {
    background-color: #004473;
}

div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
    color: #004473;
}

div.tabs ul.nav-tabs a:hover {
    border-top-color: #004473;
}

div.tabs ul.nav-tabs li.active a {
    border-top-color: #004473;
    color: #004473;
}

ul.list.icons li i {
    color: #004473;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #AAA;
    -webkit-box-shadow: 0 0 8px 2px #ebebeb;
    -moz-box-shadow: 0 0 8px 2px #ebebeb;
    box-shadow: 0 0 8px 2px #ebebeb;
}

header div.social-icons a {
    background-color: #004473;
}

header div.social-icons a:hover {
    background-color: #183d89;
}

header div.social-icons a:active {
    background-color: #10295d;
}

header nav ul.nav-main ul.dropdown-menu,
header nav ul.nav-main li.dropdown.open a.dropdown-toggle,
header nav ul.nav-main li.active a,
header nav ul.nav-main li.dropdown:hover a {
    color: #FFF;
    background-color: #004473 !important;
}

header nav ul.nav-main ul.dropdown-menu li:hover > a {
    background-color: #1c469e !important;
}

header nav ul.nav-main ul.dropdown-menu {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #142773;
    background-image: -moz-linear-gradient(top, #004473, #151473);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004473), to(#151473));
    background-image: -webkit-linear-gradient(top, #004473, #151473);
    background-image: -o-linear-gradient(top, #004473, #151473);
    background-image: linear-gradient(to bottom, #004473, #151473);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004473', endColorstr='#ff151473', GradientType=0);
    border-color: #151473 #151473 #090932;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

header nav ul.nav-main ul.dropdown-menu:hover,
header nav ul.nav-main ul.dropdown-menu:focus,
header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu.active,
header nav ul.nav-main ul.dropdown-menu.disabled,
header nav ul.nav-main ul.dropdown-menu[disabled] {
    color: #ffffff;
    background-color: #151473;
}

header nav ul.nav-main ul.dropdown-menu:active,
header nav ul.nav-main ul.dropdown-menu.active {
    background-color: #0d0c48 \9;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
    background: none !important;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
    background: #183d89 !important;
}

div.slider div.tp-bannertimer {
    background-color: #004473;
}

div.home-intro p em {
    color: #1c469e;
}

div.home-concept strong {
    color: #004473;
}

blockquote.testimonial {
    background: #183d89;
}

div.testimonial-arrow-down {
    border-top-color: #183d89;
}

div.recent-posts div.date span.month,
article.post div.post-date span.month {
    background-color: #004473;
}

div.recent-posts div.date span.day,
article.post div.post-date span.day {
    color: #004473;
}

div.pricing-table div.most-popular {
    border-color: #004473;
}

div.pricing-table div.most-popular h3 {
    background-color: #0f2759;
    background-image: -moz-linear-gradient(top, #004473, #091632);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#004473), to(#091632));
    background-image: -webkit-linear-gradient(top, #004473, #091632);
    background-image: -o-linear-gradient(top, #004473, #091632);
    background-image: linear-gradient(to bottom, #004473, #091632);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004473', endColorstr='#ff091632', GradientType=0);
}

footer div.footer-ribon {
    background: #004473;
}

footer div.footer-ribon::before {
    border-right-color: #091632;
}


/*******************************/
/* Styles added by José Franco */
/*******************************/

/* Header */
header .row-fluid [class*="span"].menu-block
{
    margin-left: 0;
}

header .row-fluid [class*="span"].menu-block a
{
    font-weight: normal;
    color: #666;
    font-size: 13px;
}

header .row-fluid [class*="span"].menu-block li.active a
{
    color: #fff;
}

header nav ul.nav-main 
{
    margin-top: 50px;
}

header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover { background: none !important; }

/* Slider */
div.slider-container
{
    overflow: visible;
}

div.slider-container div.top-label
{
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

div.slider-container div.list-label, div.slider-container div.bottom-label
{
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    width: 530px;
    text-align: justify;
    text-indent: 20px;
    line-height: 15px;
    white-space: normal !important;
}

div.slider-container div.bottom-label
{
    text-indent: 0;
}

div.slider-container div.tp-shadow1
{
    visibility: hidden;
}

/* Slider Testimonials */
div.div-testimonials
{
    margin-top: 10px;
    height: 120px;
}

div.div-testimonials h5
{
    margin-top: 10px;
    color: gray;
    font-size: 16px;
    font-weight: 600;
}
span.testimonial-name
{
    color: #004473;
}

div.div-testimonials img
{
    height: 110px;
    max-width: 100px;
    width: 90px !important;
}

div.div-testimonials p
{
    font-size: 13px;
}

ol.flex-control-nav 
{
    top: 20px;
    left: 150px;
}

/* Container Boxes */
div.container-fluid.box-title
{
    height: 30px;
}
div.container-fluid.box-title h3
{
    text-transform: none;
}

section.middle-box
{
    margin-top: 0px;
    padding: 10px 50px;
    font-size: 14px;
}

.row-fluid .offset15:first-child
{
    margin-left: 11%
}

.row-fluid .offset175:first-child
{
    margin-left: 15%
}

.row-fluid .offset25:first-child
{
    margin-left: 22%
}

.row-fluid .offset05
{
    margin-left: 4.5%;
}

div.three-columns p
{
    height: 80px;
}

div.three-columns .btn
{
    width: 220px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: none;
    background-color: #3574a5;
}

div.three-columns p
{
    width: 90%;
    margin-left: 5%;
}

div.over-footer .span-special
{
    padding-left: 3.5%;
    width: 20%;
}

.row-fluid .span-vertical-line
{
    padding: 0;
    margin-left: 5.5%;
    width: 0.1%;
}

div.over-footer h4
{
    color: #666;
    margin-bottom: 0;
    padding-bottom: 0;
}
img.underline-img
{
    position: relative;
    float: left;
    margin-bottom: 10px;
}

div.over-footer a
{
    color: #333;
}

div.over-footer ul {margin-left: 0;}
div.over-footer li
{
    list-style-type: none;
}

div.over-footer .pull-left
{
    margin-right: 50px;
}

section.semi-featured
{
    margin-top: 30px;
    padding-top: 20px;
    height: 250px;
    background: none repeat scroll 0 0 #f2f4f6;
    border-top: 5px solid #F0F0ED;
}

i
{
    color: #5295c5;
}

footer.footer
{
    border: none;
    margin-top: 0;
    padding-top: 30px;
    padding-left: 200px;
    height: 60px;
    background-color: #104475;
    color: #DDD;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* About-page Styles */
.blue-banner
{
    background-color: #096790;
    height: 75px;
}

.about-introduction
{
    margin-top: 10px;
    line-height: 2.2em;
}

.shorter-shorter
{
    margin-top: 0;
    margin-bottom: 8px;
}

.about-us-title h3
{
    text-transform: none;
    font-size: 20px;
    line-height: 2em;
    margin-bottom: 15px;
}

.big-box
{
    margin-top: 20px;
}

.big-box img
{
    margin-left: 5%;
}

.big-box h4
{
    font-weight: bold;
    margin-bottom: 0;
}

.logo-bottom-box
{
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Executive Development Styles */
.ed-title
{
    margin-top: 40px;
}
.ed-title h3
{
    text-transform: none;
    font-size: 24px;
    text-align: center;
}

section.bigger-box
{
    height: auto;
}

.middle-arrow
{
    margin-top: -15px;
    
}

.bigger-box h5
{
    font-size: 18px;
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #666;
    margin-bottom: 5px;
}

.contact-button
{
    margin-left: 3%;
}

.graph-box
{
    margin-top: 30px;
    margin-bottom: 50px;
}

/* FAQ Styles */
.faq-title
{
    margin-top: 40px;
}
.faq-title h3
{
    text-transform: none;
    font-size: 24px;
    margin-bottom: 0.5em;
}

.semi-featured.faq-intro
{
    margin-top: 0;
    padding-top: 0.5em;
    height: auto;
    font-weight: bold;
}

.faq-intro p
{
    margin-bottom: 0.7em;
}

.faq-questions
{
    margin-bottom: 20px;
}

.faq-questions section.toggle label 
{
    background: none;
    border-radius: 0;
    border-color: #CCC;
    border-width: 1px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    color: #555;
}

.faq-questions section.toggle label i 
{
    background-color: #d1d1d1;
    padding: 14px;
    height: auto;
    color: #ffffff;
}

.faq-questions section.toggle input[type="checkbox"]:checked ~ label 
{
    background: none;
}

.faq-questions section.toggle input[type="checkbox"]:checked ~ label i 
{
    background-color: #1fbba6;
}

.faq-questions section.toggle input[type="checkbox"]:checked ~ label + p
{
    color: #555;
}

section.toggle label + p { display: none; }
.faq-questions section.toggle span.list-span { margin: 5px 0; }

/* Contact Us Styles */
.contact-intro
{
    margin-top: 40px;
}

.contact-form
{
    padding: 45px;
    margin-left: 25px;
    width: 540px;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.contact-form h3
{
    font-family: "HelveticaNeue LightCond", Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-transform: none;
    color: #6b6b6b;
    margin-bottom: 15px;
}

.contact-form .p-input
{
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.contact-form .p-textarea
{
    color: #333;
    line-height: 2.2em;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.img-envelope
{
    width: 686px;
    max-width: 686px;
    margin-top: -175px;
    margin-bottom: 40px;
}

textarea.form-input, .form-input[type="text"]
{
    background-color: #f7f7f7;
    font-size: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

/* Placeholders */
.form-input::-webkit-input-placeholder { color:#000; font-size: 12px; font-weight: bold; }
.form-input::-moz-placeholder { color:#000; font-size: 12px; font-weight: bold; } /* firefox 19+ */
.form-input:-ms-input-placeholder { color:#000; font-size: 12px; font-weight: bold; } /* ie */
.form-input:-moz-placeholder { color:#000; font-size: 12px; font-weight: bold; }

.submit-holder { position: relative; height: 50px; }

.form-submit[type="submit"]
{
    background-color: transparent;
    background-image: url("../img/other/send_button.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: none;
    width: 120px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 215px;
    top: 3px;
}

/********************/
/* End Styles Added */
/********************/