body {
	font-family: "Open Sans", Arial, sans-serif;
}

.container-full {
	
}

.cf1000 {
	max-width:1000px;
	margin:auto;
}



#masthead {
	position:relative;
	z-index:10;
	padding-top:20px;
}

#main-navbar .navbar-inner{
	border-radius:0;
	padding:0;
}

#container-full-banner {
	background: #104475 url(img/banner-bg.png) top center no-repeat;
	border-top:1px solid #e4e4e4;
	color: #fff;
}

/*banner*/
#container1000-banner {
	position:relative;
	line-height:1.1;
}

#img-slide-block {
	width:458px;
	height:473px;
	position:absolute;
	top:30px;
	left:0;
}

ul#banner-list {
list-style-image: url(img/banner-list-bullet.png);
}

ul#banner-list li {
background:url(img/banner-list-hr.png) repeat-x;
line-height:1.1;
}

/*common*/
.container-full{
	margin-bottom:20px;
}
.text-center {
	text-align:center;
}
/*content*/
#highly-successful {
	background:#f2f4f6;
}


/*footer*/
#footer-links {
	background:#f2f4f6;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0;
	border-top:5px solid #f0f0ed;
}
#footer-links h4{
	background:url(img/other/underline_title.png)  left bottom no-repeat;
	padding-bottom:5px;
}

#footer-links #fl-middle.span4 div {
	border-right:1px solid #d6d8d9;
	border-left:1px solid #d6d8d9;
	padding-left:20px;
	padding-right:20px;
}

#footer-links #fl-middle.span4 div h5{
	font-weight:normal;
	margin-bottom:5px;
}
#footer {
	background:#104475;
	color: #DDD;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding:20px 0;
}
